html, body, div, span, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, abbr,
address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b,
i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time,
mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body {
  line-height:1;
}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {
  display:block;
}
nav ul {
  list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content:'';
  content:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}
/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
input, select {
  vertical-align:middle;
}

.ios9-lightblue {
  color:#54C7FC;
}
.ios9-blue {
  color:#0076FF;
}
.ios9-darkpink {
  color:#FF2851;
}
.ios9-red {
  color:#FF3824;
}
.ios9-orange {
  color:#FF9600;
}
.ios9-yellow {
  color:#FFCD00;
}
.ios9-lightgreen {
  color:#44DB5E;
}
.ios9-darkgray {
  color:#8E8E93;
}
#unused-body {
  margin-top:0px !important;
  padding-top:9px !important;
  -moz-box-shadow: inset 0 8px 6px -6px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 8px 6px -6px rgba(0,0,0,0.2);
  box-shadow: inset 0 8px 6px -6px rgba(0,0,0,0.2);
}
body {
  -webkit-text-size-adjust:none;
  -webkit-touch-callout:none;
  -webkit-user-select:text;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: ".SFNSText-Medium", -apple-system, "Helvetica Neue", "Lucida Grande", sans-serif;
  min-font-size: 13px;
  text-align:center;
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight:500;
  font-size:15px;
  width: 100%;

}
body panel {
  display: block;
  margin: 0;
  border:0;
  margin-top:9px;
  margin-bottom:28px;
  width: 100%;
}

body panel panel-body {
  margin-left: 14px;
  margin-right: 14px;
  background-color: white;
  text-align:left;
  border-radius: 15px;
  overflow: hidden;
  display: block;
  padding: 15px 20px;
  box-shadow: 2px 2px 40px -12px #999;
  font-size: 15px;
  color: #666;
}


body panel  panel-header {
  margin: 12px;
  margin-left: 12px;
  margin-right: 12px;
  display:block;
  padding: 8px 16px 0px 20px;
  text-align: left;
  font-size: 24px;
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-bottom: 13px;
  padding-left: 14px;
  color: #111;
}

body panel  panel-header  label {
  font-weight: 800 !important;
}

body panel  panel-body  table  tbody  tr  td {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 700;
  font-size: 15px;
  float: left;
  margin: 11px 2px;
  line-height: 1.1;
  color: #111;
  text-align:left;
  color: #888;
  color: #111;

}

// body panel panel-body table > tbody > tr {
   //    margin: 5px 0px;
   // }

body panel panel-body table > tbody > tr > td:nth-child(2) {
  color: #777;
  float: right;
  font-weight: 500;
  font-size: 13px;
  text-align:right;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #111;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #888;
}

body panel panel-body > table > tbody > tr:first-child td {
  margin-top:0px;
}

body panel panel-body > table > tbody > tr:last-child td {
  margin-bottom:0px;
}

body panel panel-body > table {
  width: 100%;
}

body panel panel-body > table > tbody > tr {
  border-bottom: 1px solid #cacaca;
}

body panel panel-body > table > tbody > tr:last-child {
  border-bottom: none;
}

body panel panel-body > ul {
  padding: 0px 17px;
  line-height: 1.5;
  font-weight: 500;
  font-size: 15px;
  margin: 0px;
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

.change-content {
  font-size: 14.5px;
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;

}

.changes-dash {
  padding-right:10px;
  font-weight:900;
  transform: scale(1.3,1.3);
  display:none;
}

body {
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

h1,h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

h1 {
  font-size: 38px;
  font-weight: 900;
  color: black;
  line-height: 1.3;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  color: black;
  line-height: 1.5;
}

h3 {
  font-size: 20px;
  font-weight: 800;
  color: #4a4a4a;
  line-height: 1.4;
  margin-bottom:2px;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  color: #4a4a4a;
  line-height: 1.25;
}

h5 {
  font-size: 15px;
  font-weight: 700;
  color: #4a4a4a;
  line-height: 1.1
}

h6 {
  font-size: 13px;
  font-weight: 800;
  color: #111;
  line-height: 1.3;
}

strong {
  font-weight: 600;
  color: #555;
}

p {
  line-height: 1.25;
  margin-bottom: 12px;
  font-size:13px;
}
ul, ol {
  padding: 8px 18px;
}
div.header {
  display:none;
}
div.pic {
  display:none;
}
fieldset.black {
  display:none;
}
@keyframes screenshots {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 200px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
  }
}
body.pinstripe {
  text-align:center;
  background-color: #e9e9ee !important;
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: screenshots;
}
body div.center {
  text-align:left;
  margin:15px;
}

panel a {
  text-decoration: none;
}

.reviews-more {
  margin-right: -20px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 12px;
  width: 100%;
  display: block;
  margin-top: 0px;
  margin-bottom: -12px;
  text-decoration: none !important;
  margin-top: 0px;
}

.review-more label {
  font-size: 16px;
  font-weight: 700;
  line-height: 0;
  text-decoration: none !important;
  color: white !important;
  letter-spacing: 0.5px;
}

.green-gradient {
  background: linear-gradient(90deg,#30c381, #089e46) !important;
}

.package-description * {
  max-width: 100%;
}

.packages-container {
  max-width: 1236px;
  margin: 20px auto;
}

.package-container {
  width: 28%;
  min-width: 320px !important;
  margin: 2.15%;
  display: inline-block;
}

.package-label {
  display: block;
  text-align: left;
  font-weight: 600;
  color: #111;
  font-size: 15px;
  line-height: 1.2;
}

.package-label-value {
  text-align: right;
  font-size: 13px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #777;
  float: right;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .package-container {
    max-width: 100%;
    width: 100%;
    padding: 0px;
    display: inline-block;
    margin: 0px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
}

body {
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-select: text;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 9px auto;
    width: 100vw;
    max-width: 414px !important;
    min-font-size: 13px;
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.package-screenshots {
    text-align: center;
    height: 100%;
    margin-left: -3%;
    margin-right: -3%;
}

.screenshot {
    text-align: center;
    display: inline-block;
    margin: auto;
    width: 100% !important;
    height: auto !important;
}

.screenshotContainer {
    width: 44%;
    display: inline-block;
    text-align: center;
    margin: 3%;
}

.rating-stats-container {
    width: 75%;
    float: right;
}

.rating-stats {
    width: 100%;
}

.rating-stats>tbody>tr {
    border-bottom: 1.685px solid transparent;
}

.rating-stats>tbody>tr>td {
    width: 26%;
    margin: 0px;
    padding: 0px;
    text-align: right;
    color: #eebd10;
    -webkit-letter-spacing: 2.25px;
    -moz-letter-spacing: 2.25px;
    -ms-letter-spacing: 2.25px;
    letter-spacing: 2.25px;
    font-size: 5.25px;
}

.rating-stats>tbody>tr>td:nth-child(2) {
    width: 65%;
    margin: 0px;
    padding: 0px;
    text-align: left;
    padding-left: 4%;
    height: 5.625px;
}

.rating-bar {
    width: 100%;
    height: 2.25px;
    margin-top: 1.6875px;
    margin-bottom: 1.6875px;
    background-color: #ececec;
    display: block;
    overflow: hidden;
    border-radius: 1px;
}

.rating-bar>.rating-fill {
    display: block;
    height: 3px;
    background-color: #999;
}

.rating-overall {
    width: 25%;
    text-align: center;
    margin-top: -7px;
    display: inline-block;
}

.rating-overall-header {
    font-size: 52px;
    font-weight: 700;
    display: block;
}

.rating-overall-footer {
    font-size: 13px;
    font-weight: 700;
    color: #999;
}

.ratings-count {
    font-size: 14px;
    color: #b9b9b9;
    float: right;
    text-align: right;
    margin-top: 5px;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
}

.screenshot-viewer {
    overflow: -moz-scrollbars-none;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    width: auto;
    min-width: 100%;
    white-space: nowrap;
    margin-left: -6px;
    margin-right: -6px;
    padding-left: 6px;
    padding-right: 6px;
    list-style: none;
    margin-top: 15px;
    -ms-overflow-style: none;
}

.screenshot-viewer::-webkit-scrollbar {
    display: none;
}

.screenshot-item {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    margin-right: 6.25px;
    margin-left: 6.25px;
}

.screenshot-item:first-child {
    margin-left: 0px;
}

.screenshot-item:last-child {
    margin-right: 0px;
}

.screenshot-img {
    margin: 0;
    position: relative;
    z-index: 1;
    height: 230px;
    width: auto;
    border-radius: 6px;
    overflow: hidden;
}

.changes-more {
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 12px;
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-bottom: -12px;
    text-decoration: none !important;
    -webkit-background-clip: text;
    margin-top: 0px;
}

.changes-more>div {
    font-size: 16px;
    font-weight: 700;
    line-height: 0;
    display: inline;
    text-decoration: none !important;
    color: #484848;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    -webkit-background-clip: text;
    background: linear-gradient(90deg, #30c381, #089e46);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.fading-sep {
    margin-top: 10px;
    height: 1px;
    background: linear-gradient(90deg, white, #dddddd, white);
}

.hidden {
    display: none;
}

.user-rate-action {
    width: 1005;
    text-align: center;
    font-size: 25px;
    margin-top: -7px;
    -webkit-background-clip: text;
}

.user-rate-action .far:before {
    background: linear-gradient(-45deg, #f0ad0d, #fffb15);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.user-rate-action .fas:before {
    background: linear-gradient(-45deg, #f0ad0d, #fffb15);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.review-list {
    list-style: none;
    padding: 8px 0px;
    margin-left: -5px;
    margin-right: -5px;
}

.review-list li {
    background-color: #f8f8f8;
    border-radius: 7.5px;
    overflow: hidden;
    padding: 13px 16px;
    margin-bottom: 12px;
}

.review-list li:last-child {
    margin-bottom: 0px;
}

.review-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0px;
}

.review-title {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 14px;
    line-height: 1.38462;
    font-weight: 800;
    -webkit-letter-spacing: 0;
    -moz-letter-spacing: 0;
    -ms-letter-spacing: 0;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #111;
}

.review-version {
    white-space: nowrap;
    font-size: 13px;
    line-height: 1.38462;
    font-weight: 400;
    -webkit-letter-spacing: 0;
    -moz-letter-spacing: 0;
    -ms-letter-spacing: 0;
    letter-spacing: 0;
    text-align: right;
    color: #8e8e93;
}

.review-subheader {
    margin-bottom: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.review-rating {
    display: inline-block;
    marign: 0px;
    padding: 0px;
    font-size: 11px;
    color: #eebd10;
}

.review-date {
    color: #8e8e93;
    margin-left: 5px;
    font-size: 13px;
    line-height: 1.38462;
    font-weight: 400;
    -webkit-letter-spacing: 0;
    -moz-letter-spacing: 0;
    -ms-letter-spacing: 0;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.review-description {
    font-size: 13px;
    line-height: 1.38462;
    font-weight: 400;
    -webkit-letter-spacing: 0;
    -moz-letter-spacing: 0;
    -ms-letter-spacing: 0;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    margin-bottom: 0px;
}

.sf-text {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.reviews-more {
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 12px;
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-bottom: -12px;
    text-decoration: none !important;
    margin-top: 0px;
}

.review-more label {
    font-size: 16px;
    font-weight: 700;
    line-height: 0;
    text-decoration: none !important;
    color: white !important;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
}

.green-gradient {
    background: linear-gradient(90deg, #30c381, #089e46) !important;
}

.restrict-detail>span {
    display: block;
    padding-bottom: 7px;
}

.restrict-detail>span:last-child {
    padding-bottom: 0px;
}

.author-section {
    min-height: 100%;
    overflow-y: hidden;
    position: relative;
}

.author-section .author-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 14px;
    float: left;
    display: inline-block;
}

.author-section .author-description {
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.author-section .author-name {
    display: block;
    font-size: 21px;
    font-weight: bold !important;
    color: #666666;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
}

.author-section .author-email {
    display: block;
    color: #b9b9b9;
    font-size: 13px;
}
